@model PetaPoco.Page<ShopDienThoaiConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!-- Header End====================================================================== -->
<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <a href="register.html"><img style="width:100%" src="~/Template/themes/images/carousel/1.png" alt="special offers" /></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img style="width:100%" src="~/Template/themes/images/carousel/2.png" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="~/Template/themes/images/carousel/3.png" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="~/Template/themes/images/carousel/4.png" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="~/Template/themes/images/carousel/5.png" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="~/Template/themes/images/carousel/6.png" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            @{
                var sidePartital = Html.Partial("_SideBar");
                sidePartital = new MvcHtmlString(sidePartital.ToString());
            }
            @sidePartital;
            <!-- Sidebar end=============================================== -->
            <center><h2 style="height: 60px">Danh sách sản phẩm</h2></center>
            <ul class="thumbnails">
                @foreach (var item in Model.Items)
                {
                    <li class="span3">
                        <div class="thumbnail">
                            <i class="tag"></i>
                            <a href="@Url.Action("Details", "SanPham", new {id = item.MaSP})"><img style="width: 100px; height: 100px" src="~/Template/themes/images/products/@item.HinhAnh" alt=""></a>
                            <div class="caption">
                                <h5>@item.TenSP</h5>
                                <h4><a class="btn" href="@Url.Action("Details", "SanPham", new {id = item.MaSP})">VIEW</a> <span class="pull-right">@item.GiaBan</span></h4>
                            </div>
                        </div>
                    </li>
                }                
            </ul>
        </div>
        <div id="menupage">
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li>@Html.ActionLink(i.ToString(), "Index", new { page = i })</li>
                }
            </ul>
        </div>
    </div>
</div>
