@using Microsoft.Ajax.Utilities
@model Template.Models.ViewModels.SanPhamViewModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            @{
                var sidePartital = Html.Partial("_SideBar");
                sidePartital = new MvcHtmlString(sidePartital.ToString());
            }
            @sidePartital;

            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li><a href="products.html">Products</a> <span class="divider">/</span></li>
                    <li class="active">product Details</li>
                </ul>
                <div class="row">
                    <div id="gallery" class="span3">
                        <a href="themes/images/products/large/f1.jp" title="Fujifilm FinePix S2950 Digital Camera">
                            <img src="~/Template/themes/images/products/@Model.SanPham.HinhAnh" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera" />
                        </a>
                        @*<div id="differentview" class="moreOptopm carousel slide">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="themes/images/products/large/f1.jpg" alt="" /></a>
                                    <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="themes/images/products/large/f2.jpg" alt="" /></a>
                                    <a href="themes/images/products/large/f3.jpg"> <img style="width:29%" src="themes/images/products/large/f3.jpg" alt="" /></a>
                                </div>
                                <div class="item">
                                    <a href="themes/images/products/large/f3.jpg"> <img style="width:29%" src="themes/images/products/large/f3.jpg" alt="" /></a>
                                    <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="themes/images/products/large/f1.jpg" alt="" /></a>
                                    <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="themes/images/products/large/f2.jpg" alt="" /></a>
                                </div>
                            </div>
                            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            
                        </div>*@

                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <span class="btn"><i class="icon-envelope"></i></span>
                                <span class="btn"><i class="icon-print"></i></span>
                                <span class="btn"><i class="icon-zoom-in"></i></span>
                                <span class="btn"><i class="icon-star"></i></span>
                                <span class="btn"><i class=" icon-thumbs-up"></i></span>
                                <span class="btn"><i class="icon-thumbs-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <h3>@Model.SanPham.TenSP</h3>
                        <hr class="soft" />
                        <form class="form-horizontal qtyFrm">
                            <div class="control-group">
                                <label class="control-label"><span>@Model.SanPham.GiaBan</span></label>
                                <div class="controls">
                                    <input type="number" class="span1" placeholder="Qty." />
                                    <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
                                </div>
                            </div>
                        </form>

                        <hr class="soft" />
                        <h4>Số lượng máy trong kho: @Model.SanPham.SoLuong</h4>
                        <form class="form-horizontal qtyFrm pull-right">
                            <div class="control-group">
                                <label class="control-label"><span>Color</span></label>
                                <div class="controls">
                                    <select class="span2">
                                        <option>Black</option>
                                        <option>Red</option>
                                        <option>Blue</option>
                                        <option>Brown</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <hr class="soft clr" />
                        @Html.Raw(@Model.SanPham.ThongTin)
                        <br class="clr" />
                        <a href="#" name="detail"></a>
                        <hr class="soft" />

                        <hr class="soft clr" />
                        <h3>Bình luận</h3>
                        @if (!(User.Identity.Name.IsEmpty()))
                        {
                            <textarea id="NoiDung"></textarea>
                            <input type="button" value="Submit" onclick="posComment()" />

                        }
                            
  
                        <div id="comment-box">
                            @foreach (var item in Model.BinhLuanSP)
                            {
                                <div id="comment">
                                    <div class="comment-name"><h5>@item.TenTK</h5></div>
                                    <div class="comment-content">@item.NoiDung</div>
                                </div>
                            }
                        </div>
                        <br class="clr" />
                        <a href="#" name="detail"></a>
                        <hr class="soft" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function posComment() {
            const NoiDung = $("#NoiDung").val();
            const MaSP = @Model.SanPham.MaSP;
            const TenTK = "@User.Identity.Name";
            $.post("/api/BinhLuanAPI",
                { "MaSP": MaSP, "NoiDung": NoiDung }, function(data) {
                    $("#comment-box").prepend("<div id=\"comment\"><div class=\"comment-name\"><h5>"+TenTK+"</h5></div><div class=\"comment-content\">"+NoiDung+"</div></div>");
                    alert("Đã thêm bình luận");
                });
        }
    </script>
}