@model ShopDienThoaiConnection.HangSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>CHI TIẾT</h2>

<div>
    <h4>Hãng sản xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-lg-2">Mã hãng</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHang)
        </dd>

        <dt>
            <label class="control-label col-lg-2">Tên hãng</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt>
            <label class="control-label col-lg-2">Bị xóa</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiXoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHang }) |
    @Html.ActionLink("Quay về trang chủ", "Index")
</p>
